/*!Momentanel Styles*/
#main-header{
    background-color: #255ee9;
}





/** GENERIC STYLE INFORMATIONS */

/*todo Universal Selector */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*todo Tag HTML */
body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

button{
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 2rem;
}

ul{
    list-style: none;
}

h1,
h2{
    font-size: 3rem;
}

h3{
    font-size: 1.7rem;
}

p{
    font-size: 1.2rem;
    line-height: 1.8rem;
}



/*todo Classes */
.container{
    padding: 0 11%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.fl-lf{
    float: left;
}

.fl-rg{
    float: right;
}

.bg-color_turquoise-blue{
    background-color: #7289da;;
}

.bg-color_white{
    background-color: white;
}

.bg-color_black{
    background-color: #23272a;
}

.bg-color_light-grey{
    background-color: #f6f6f6;
}

.download::before{
    content: '\2193';
    padding-right: 0.5rem;
}

.language::after{
    content: '\2304';
    padding-left: 0.5rem;
}



/*todo Combination of Elements  */
header#main-header,
footer,
nav a{
    color: #ffff;
}

button.bg-color_turquoise-blue,
button.bg-color_black{
    color: white;
}

button.bg-color_white{
    color: black;
}

button.small{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}





/** SPECIFIC STYLE INFORMATIONS */

/*todo Header Section */
#main-header{
    height: 37rem;
}


/* Header Navbar */
#main-header nav{
    height: 15%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #255ee9;
    align-items: center;
}

#main-header .logo{
    width: 10%;
}

#main-header nav button{
    width: 7%;
    font-size: 1rem;
}

#main-header ul{
    width: 83%;
}

#main-header ul.flex{
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem calc(100%/3);
}

#main-header ul.flex li{
    padding: 0 1.5rem;
}


/* Header Jumbodron */
#jumbodron{
    height: 85%;
    padding: 3rem 0;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

#jumbodron .text-content.container{
    width: 50%;
    height: 100%;
    padding: 5% 0;
    text-align: center;
}

#jumbodron .text-content p{
    padding: 2rem 0 1rem 0;
}

#jumbodron button:first-of-type{
    margin-right: 2rem;
}


/*todo Main Section */

/* Main Containers */
main .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 37rem;
}

main .container:last-of-type{
    height: 80rem;
    text-align: center;
}

main .container img{
    width: 60%;
}

main .container .text-content{
    width: 40%;
}

main .text-content h2,
main .text-content p{
    padding-top: 2rem;
}

main .container.flex.bg-color_white .text-content{
    order: 1;
}

main .container:last-of-type{
    display: block;
}

main .container:last-of-type img{
    display: block;
    width: 100%;
    height: 40rem;
}

main .container:last-of-type .text-content{
    height: 15rem;
    width: 100%;
    padding: 3rem 2rem 0 2rem;
}

main .download-section{
    height: 5rem;
}

main .download-section h3{
    width: 55%;
    margin: 0 auto;
    padding: 3rem 0;
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


/* Main Wrapper */
svg.wrapper{
    display: block;
}

.wrapper.bg-color_light-grey{
    color: #f6f6f6;
    background-color: white;
}

.wrapper.rotate-x{
    transform: rotateX(3.142rad);
}


/*todo Footer Section */
footer.container{
    background-color: #23272a;
    height: 40rem;
    padding-top: 0.5rem;
}

/* Footer Navbar */
footer aside h3,
footer ul li:first-of-type{
    color: #7289da;
}

footer nav{
    height: 80%;
    padding-top: 5rem;
}

footer aside{
    width: 25%;
    padding-right: 1rem;
}

footer ul{
    width: calc(75%/4);
    line-height: 2.5rem;
}

footer ul.flex{
    flex-direction: column;
}

footer .language{
    width: 10rem;
    padding: 1rem 0;
}

footer .language img{
    width: 20%;
}

footer .social-icons{
    padding-right:1rem
}


/* Footer logo-container */
footer .logo,
footer button{
    width: 10%;
}


/* Footer HR */
footer hr{
    margin: 1.5rem 0;
    color: #3a4460;
}